<div class="main">
  <!--<h5 id="speed"></h5>-->
  <h1 class="titleH1">I Team Test </h1>
  <p class="instr">Timer</p>
  <div class="timer">
    <div class="digitField">
      <p class="lableP">hh</p>
      <div class="digitSlider">
        <div class="gradient">
          <app-digit [arr]="this.arrHH" [ngStyle] = "{'top': + this.topHH + 'px'}"></app-digit>
        </div>
      </div>
    </div>
    <div class="digitField">
      <p class="lableP">mm</p>
      <div class="digitSlider">
        <div class="gradient">
          <app-digit [arr]="this.arrMM" [ngStyle] = "{'top': + this.topMM + 'px'}"></app-digit>
        </div>
      </div>
    </div>
    <div class="digitField">
      <p class="lableP">ss</p>
      <div class="digitSlider">
        <div class="gradient">
          <app-digit [arr]="this.arrSS" [ngStyle] = "{'top': + this.topSS + 'px'}"></app-digit>
        </div>
      </div>
    </div>
  </div>
  <button id="start" (click)="startTimer()" class="btn">START</button>
  <button id="stop" (click)="stopTimer()" class="btn">STOP</button>
  <button id="wait" (click)="waitTimer()" class="btn">WAIT</button>
  <button id="reset" (click)="resetTimer()" class="btn">RESET</button>
</div>
